/* .container-1 {
  background: url('../img/callout1.jpg');
  width: 250px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0.25rem solid black;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
} */
.callout {
  height: 50vh;
  background: url('../img/callout1.jpg') no-repeat top center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  background-color: rgba(231, 22, 238, 0.3);
}