.white-background {
  background-color: rgb(255, 255, 255);
}
.callout {
  background: url('../img/callout1.jpg') no-repeat center center;
  height: 30vh;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  height: 30vh;
  width: 100%;
  background-color: rgba(0, 44, 240, 0.514);
}

.opaque-overlay-feat {
   background-color:  rgb(255, 221, 0);
}

.callout-box {
  inline-size: auto;
  height:20vh;
  background-color:rgba(241, 18, 18, 0.589); 
  border-radius: 25px;
  bottom:30px;
  right:150px;
  text-align: center;
}
.signup-btn{
  display: inline-block;
  outline: 0;
  border: none;
  cursor: crosshair;
  padding: 0 24px;
  border-radius: 50px;
  min-width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #fd0;
  font-weight: 500;
  color: #222;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  }

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  padding: 10px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.footer-bgc {
  background-color:rgba(241, 18, 18, 0.897);
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

